.inner {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
}

a {
  color: #00458c;
}

a, input {
  font-family: Arial;
  font-size: 17px;
}

ul {
	list-style-type: none;
}

li, form {
	display: inline;
	padding-right: 15px;
}

.logo {
	margin: 5px;
	margin-bottom: 0px;
	flex-grow: 4;
}

ul li.icon {
	display: none;
}

@media screen and (max-width: 830px) {
	ul.menuNav li {
		display: none;
	}
	ul.menuNav li.icon {
		float: left;
		display: inline-block;
	}
	ul.menuNav.responsive {
		position relative
	}
	ul.menuNav.responsive.li.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	ul.menuNav.responsive li {
		float: none;
		display: inline;
	}
	ul.menuNav.responsive li a {
		display: block;
		text-align: left;
	}
}