.inner {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
}

a { color: #00458c; }

a, input {
  font-family: Arial;
  font-size: 17px;
}

ul { list-style-type: none; }

li, form {
	display: inline;
	padding-right: 15px;
}

.logo {
	margin: 5px;
	margin-bottom: 0px;
	flex-grow: 4;
}

.icon { display: none; }

@media screen and (max-width: 830px) {
	ul.menuNav li { display: none; }
	ul.menuNav li.icon {
		float: left;
		display: inline-block;
		padding-right: 15px;
	}

	ul.menuNav li.icon a {
		text-decoration: none;
		font-size: 20px;
	}

	ul.menuNav.responsive li {
		float: none;
		display: inline;
	}
	ul.menuNav.responsive li a {
		display: block;
		text-align: left;
	}
}