/*Styles for preview page*/
body {
	padding: 0;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.4;
}

.main-content {
	max-width: 1024px;
	margin: 1em auto;
	padding: 1em .5em;
}

/* Omnibar styles*/
.omnibar {
	background-color: #ededed;
	border-bottom: 2px solid #545454;
	width: 100%;
	padding: 1em .5em;
	margin-left: auto;
	margin-right: auto;
	a { color: #00458c; }
	/*.icon { display: none; }*/
	.inner {
		max-width: 64em;
		display: flex;
		margin-right: auto;
		margin-left: auto;
		align-items: center;
		.right { 
			display: flex;
			width: 80%;
			align-items: center;
			justify-content: flex-end;
		}
	}
}

@media screen and (min-width: 300px){
	.omnibar {
		/*commented out styles are for the icon and hiding list items in mobile*/
		/*ul.menuNav li { display: none; }
		.icon { 
			display: block; 
			font-size: 30px; 
			position: absolute;
			right: 5px;
		}*/
		input { font-size: 17px; }
		.inner { padding-bottom: 35px; }
		
		form { 
			position: absolute;
			top: 32px;
		}

		.logo { 
			background: transparent no-repeat left top;
			background-image: url(http://static.ucsc.edu/_responsive/images/logos/ucsc-logotype.svg);
			background-size: contain;
			max-width: 260px;
			min-width: 147px;
			min-height: 70px;
			width: 50%;
		}

		ul.menuNav {	
			list-style-type: none; 
			display: flex;
			align-items: center;
			justify-content: space-around;
			position: absolute;
			top: 65px;
			width: 100%;
			li {
				border: none;
				font-family: Arial;
				a {
					text-decoration: none;
					.mobileNav {
						border: 2px solid black;
						border-radius: 7px;
						padding: 10px;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 580px) {
	.omnibar {
		.inner { padding-bottom: 50px; }
		.logo { width: 100%; }
		ul.menuNav { padding-top: 15px; }
	}
}

@media screen and (min-width: 875px) {
	.omnibar {
		ul { display: inherit; }
		/*.icon { display: none; }*/

		form { 
			position: static;
			padding-right: 15px; 
		}

		ul.menuNav li {
			display: inline;
			padding-right: 8px;
			padding-left: 8px;
			border-right: 3px solid black;
		}

		ul.menuNav li:first-child { padding-left: 0px; }

		ul.menuNav li:last-child { 
			border: none;
			padding-right: 20px;
		}
	}
}
