.inner {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
	border-bottom: 3px solid black;
	max-width: 64em;
	margin-left: auto;
	margin-right: auto;
}

a { color: #00458c; }

li, input {
  font-family: Arial;
  font-size: 17px;
}

.divider { 
	font-weight: bold; 
	font-size: 20px;
}

ul { list-style-type: none; }

li, form {
	display: inline;
	padding-right: 15px;
}

form {
	margin-right: 10px;
}

.logo {
	margin: 5px;
	margin-bottom: 0px;
	flex-grow: 4;
}

.icon { 
	display: none;
	text-decoration: none;
	font-size: 30px; 
	position: absolute;
	right: 0px;
}

.mobileNav { display: inline; }

@media screen and (max-width: 940px) {
	align-items: flex-start;
	img {
		max-width: 80%;
		min-width: 50px;
		max-height: 70px;
		min-height: 40px;
		height: auto;
	}
	ul.menuNav { 
		padding: 3px; 
		align-self: flex-end;
		li { display: none; }
	}
 
	.icon { display: block; }

	ul.menuNav.responsive {	
		& li {
			padding-right: 25%;
			padding-top: 15%;
			display: inline;
			a {
				text-decoration: none;
			}
			&.divider { 
				display: none; 
			}
			&.mobileNav {
				border: 2px solid black;
			}
		}
	}
}